body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
a{
    text-decoration: none;
    color: rgb(207, 23, 23);
    text-transform: none;
    transition: 0.25s ease;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

ul li{
    text-decoration: none;
    margin: 0 0.75em 0 0.75em;
}

ul:hover a {
    color: #8eaafb;
    box-shadow: 0 2px 0 0 currentColor;
}